canvas {
    border:1px solid #000000;
    background: url("assests/brawler_background.jpg");
    background-size: 800px 500px;
    z-index: -1;
}


#health-bars{
  margin-top: -50%;
  margin-left: 5%;
  z-index: 1;
}
#playerOnehealthBack{
  z-index: -1;
  border: 3px solid #000000;
}

#playerOne{
  z-index: 2;
  border: 3px solid #000000;
  background: blue;
}

#playerTwo{
  border: 3px solid #000000;
  background: blue;
  float: right;
}
